<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientId" value="MEU_CLIENT_ID" />
		<add key="AccessToken" value="MEU_ACCESS_TOKEN" />
		<add key="ApiBaseUrl" value="https://euapi.ttlock.com" />
		<!-- Se true -> usa mock; se false -> usa TtlockClient real -->
		<add key="UseMock" value="true" />
	</appSettings>
</configuration>
